{% extends 'index.html' %}

{% block contenido %}
<form method="POST" class="post-form" action="/productos/actualizar/{{producto.id}}">
    {% csrf_token %}
    <div class="container">
        <br>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <h3><i class="fa fa-gift"></i> Actualizar Producto</h3>
            </div>
        </div>
        <div class="form-group form-inline">
            <label class="col-sm-4"><i class="fa fa-server"></i> Descripcion:</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" name="descripcion" id="descripcion" value="{{producto.descripcion}}" required maxlength="100"/> 
            </div>
        </div>
        <div class="form-group form-inline">
            <label class="col-sm-4"><i class="fa fa-usd"></i> Precio:</label>
            <div class="col-sm-4">
                <input class="form-control" type="number" name="precio" value="{{producto.precio}}" step="any" required="" id="id_precio">
            </div>
        </div>
        <div class="form-group form-inline">
            <label class="col-sm-4"><i class="fa fa-toggle-up"></i> Stock:</label>
            <div class="col-sm-4">
                <input class="form-control" type="number" name="stock" value="{{producto.stock}}" step="any" required="" id="id_stock">
            </div>
        </div>
        <div class="form-group form-inline ">
            <label class="col-sm-4 vCheckboxLabel" for="iva"><i class="fa fa-percent"></i> Iva</label>
            <div class="col-sm-4">
                <div class="checkbox-row">
                    {% if producto.iva %}
                    <input type="checkbox" name="iva" id="iva" checked>
                    {% else %}
                    <input type="checkbox" name="iva" id="iva">
                    {% endif%}
               </div>
            </div>
        </div>
        <div class="form-group form-inline">
            <label class="col-sm-6 col-form-label"></label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-plus-circle"></i> Actualizar</button>
                <a href="/productos" class="btn btn-danger btn-sm"> <i class="fa fa-mail-reply-all"></i> Cancelar<a/>
            </div>
        </div>
    </div>
</form>
{% endblock contenido %}